<html>
	<body>
		<a href="/sendrequest"><button name="sendRequest">send Request</button></a>
		<br><br>
		<a href="/userhome"><button name="gotohome">Go Home</button></a>
		{% if mem_list%}
			{% for mem in mem_list %}
				<hr>
				<div style="width:300px;height:40px;border: 1px solid #000000;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
					<b>{{mem.member_name}}</b>
				</div>
			{% endfor %}
		{% else %}
			<h6>Your Community is Empty</h6>
			<p>Add your friends and Family</p>
		{% endif %}
	</body>
</html>