<html>
	<head>
	</head>
	<body>
		<div>
			<div style="allign:right;width:600px"><a href="/logout">Click here to logout</a></div>
			<div>
				<form method = "post">
					<label>
						<textarea name = "content" placeholder = "what's on ua mind" required="required"></textarea><br><br>
						<input type = "submit" >
					</label>
				</form>
			</div>
		</div>
		{% if authority %}
			<a href="/adminPage"><button name="adminPage">admin</button></a>
		{% endif %}
			
		<div>
			{% if posts%}
				{% for post in posts %}
					<hr>
					<div style="font:10">
						<sup><p style="font-size:20">{{post.post_content}}</p></sup>
						<sub><p>_ _ _ By Anonymous</p></sub>
					</div>
				{% endfor %}
			{% else %}
				<h6>No posts</h6>
				<em>Share what you have..... yu're welcome</em>
			{% endif %}
		</div>
	</body>
</html>